{% extends 'base.html' %}

{% block title %} О приложении {% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <p class="text">
                Это веб-приложение, разработанное на Flask, которое позволяет
                пользователям анализировать различные параметры веб-страниц. Пользователь
                может ввести URL сайта, и приложение предоставит информацию о скорости
                загрузки страницы, DNS параметрах, состоянии SSL сертификата, а также
                выполнить пинг для проверки доступности сайта.
                Основная цель проекта - предоставить пользователям инструмент для
                быстрого и удобного анализа веб-страниц, что может быть полезно как для вебразработчиков, так и для обычных пользователей, интересующихся состоянием
                и безопасностью сайтов.
            </p>
        </div>
    </div>
</div>

{% endblock %}